<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/www/css/semantic.min.css"/>
  <link rel="stylesheet" type="text/css" href="/www/css/podfinder.css"/>
  <script src="/www/js/jquery.min.js"></script>
  <script src="/www/js/semantic.min.js"></script>
  <script src="/www/js/podfinder.js"></script>
  <title>podfinder — search and explore podcasts in different regions</title>
</head>

<body>
  <div class="ui text container">
    <div class="ui text menu">
      <div class="item">
        <a href="/">podfinder</a>
      </div>
      <div class="ui right dropdown item">
        <form class="ui form regions" name="regions" action="/" method="post">
          <div class="field">
            <select name="region" onchange="this.form.submit()">
              {{range .Regions}}
                {{if eq .Value $.Region}}
                <option value="{{.Value}}" selected>{{.Name}}</option>
                {{else}}
                <option value="{{.Value}}">{{.Name}}</option>
                {{end}}
              {{end}}
            </select>
          </div>
        </form>
      </div>
    </div>
    {{template "content" .}}
    <div>
      <div class="ui divider"></div>
      <div class="ui text container">
        <div class="ui equal width grid">
          <div class="column">
            <div class="row"><a href="/">podfinder</a> — search and explore podcasts</div>
          </div>
          <div class="column">
            <div class="row"><a href="https://github.com/timiskhakov/podfinder" target="_blank">GitHub</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
